.large-info-block {
  padding-top: 32px;

  border-top: 1px solid rgba(66, 66, 66, 0.2);

  h2 {
    position: relative;

    display: inline-block;
    padding: 0 24px;
    margin: 0;
    margin-bottom: 32px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  h2::before,
  h2::after {
    content: "";
    position: absolute;
    top: 50%;

    width: 4px;
    height: 4px;

    background-color: $darkest;

    border-radius: 50%;

    transform: translateY(-50%);
  }

  h2::before {
    left: 0;
  }

  h2::after {
    right: 0;
  }

  p {
    margin: 0;
  }

  code {
    display: block;
    padding: 15px;

    background-color: rgba(66, 66, 66, 0.1);

    border-radius: 4px;
  }
}

.large-info-block__list {
  @include list-reset;
}

.large-info-block__item {
  margin-bottom: 20px;

  h3 {
    margin: 0;
    margin-bottom: 20px;

    font-size: 16px;
    text-transform: uppercase;
  }

  a {
    display: inline-block;
    padding: 5px;
    padding-right: 23px;
    margin-left: -5px;

    line-height: 1;
    color: inherit;

    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 100% 55%;
    background-size: 15px 8px;
  }

  a:hover,
  a:focus {
    transform: scale(1.2) translateY(-2px);
    transition: 0.1s;
  }

  a:active {
    outline: none;

    transition: 0s;

    opacity: 0.2;
  }

  dl {
    padding-left: 15px;
  }

  dt {
    font-size: 18px;
  }

  dd {
    margin: 0;
    margin-bottom: 24px;

    font-size: 16px;
    color: $dark;
  }
}

@media (max-width: $mobile-middle-width) {
  .large-info-block {
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;

    p,
    code {
      text-align: left;
    }
  }

  .large-info-block__item {
    text-align: left;

    h3 {
      text-align: center;
    }

    a:hover,
    a:focus {
      transform: scale(1.1) translateY(-1px);
    }

    dl {
      padding-left: 0;
    }

    dt {
      font-size: 16px;
    }

    dd {
      font-size: 14px;
    }
  }
}
