.site-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 1;

  list-style: none;
}

.site-menu__item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  a {
    display: block;
    padding: 7px;

    color: $darkest;

    &:hover,
    &:focus {
      transform: scale(1.3);
      transition: 0.1s;
    }

    &:active {
      outline: none;

      transition: 0s;

      opacity: 0.2;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .site-menu {
    font-size: 15px;
  }

  .site-menu__item {
    &:not(:last-child) {
      margin-right: 17px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .site-menu {
    flex-direction: column;
    width: 100%;

    font-size: 16px;
    text-align: center;
  }

  .site-menu__item {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 0;
    }

    border-bottom: 1px solid #fff;

    a {
      padding: 19px;

      &:hover,
      &:focus {
        background-color: #e5f3ff;

        transform: scale(1);
        transition: initial;
      }

      &:active {
        color: rgba(66, 66, 66, 0.2);

        opacity: 1;
      }
    }
  }
}
