@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "container.scss";
@import "visually-hidden.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-menu.scss";
@import "blocks/page-header.scss";
@import "blocks/person.scss";
@import "blocks/small-info-block.scss";
@import "blocks/large-info-block.scss";
@import "blocks/page-main.scss";
@import "blocks/copyright.scss";
@import "blocks/page-footer.scss";
// @import "blocks";
