// colors
$bright-light: #d8ecff;
$lightest: #ffffff;
$dark: #7e7e7e;
$darkest: #424242;

// width
$desktop-max-width: 1190px;
$tablet-max-width: 992px;
$mobile-max-width: 768px;
$mobile-middle-width: 576px;
$mobile-min-width: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
